<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="themoviedb" thread-count="4" parallel="tests"  verbose="1">

    <test name="Authentication">
        <classes>
            <class name="specs.AuthSpec"/>
        </classes>
    </test>

    <test name="List specs">
        <classes>
            <class name="specs.ListSpec"/>
        </classes>
    </test>

    <test name="Delete list">
        <classes>
            <class name="specs.DeleteListSpec"/>
        </classes>
    </test>

    <test name="Movies">
        <classes>
            <class name="specs.MovieSpec"/>
        </classes>
    </test>

    <test name="TV">
        <classes>
            <class name="specs.TVShowSpec"/>
        </classes>
    </test>

</suite>
